@{
    ViewData["Title"] = "IndexEmployee";
    Layout = "_LayoutForEmployees";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij De Friet Tent</h1>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/Friet.jpg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="carousel-item">
                <img src="~/images/Hamburger.jpg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="carousel-item">
                <img src="~/images/Snacks.jpg" class="img-fluid" alt="Responsive image">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
